.googleIcon{
    background-image: url(https://static.vecteezy.com/system/resources/previews/022/484/509/non_2x/google-lens-icon-logo-symbol-free-png.png);
    background-size: 2rem;
    background-position: center;
    
}
p{
    align-items: center;
}

.formContainer{
    height: 100%;
    text-align: center;
    /* vertical-align: middle; */
    place-content: center;
    justify-content: center;
    display: grid;
}

h2{
    bottom:12px ;
}
:host ::ng-deep .mat-horizontal-content-container {
    padding:0 !important;
}

:host ::ng-deep .mat-mdc-form-field-subscript-wrapper {
        height: 6px;
}

.text-danger{
    color:red;
    display: block;
}

h2[_ngcontent-ng-c582165566] {
    position: static;
    bottom: 12px;
    margin-bottom: 8px;
}

.formContent{
    border: 1px solid;
    border-radius: 0.5rem;
    box-shadow: 4px 4px 4px 4px grey;
    padding: 0.5rem 2rem 0.5rem 2rem;
    width: -moz-fit-content;
    width: fit-content;
    display: grid;
    justify-content: space-between;
    align-items: baseline;
    justify-items: center;
}

mat-form-field{
    display: grid;
}



.mat-mdc-form-field {
  margin-top: 16px;
}

mat-horizontal-stepper-header-container:focus{
 bottom: 1rem;
}

.googleSignIn{
    background-color: rgb(255, 149, 29);
    .googleIcon{
        height:2rem;
        width: 2rem;
        background-color: whitesmoke;
    }
}

.logIn{
    top:0.5rem;
    background-color: rgba(108, 159, 218, 0.918);
}