.list-container{
    width:100%;
    // height:100%;
    div{
        padding: 1rem;
        
    }
}
 
mat-icon{
    position:absolute;
}

li{
    padding-left: 2rem;
    font-family: poppins;
    
}

mat-list-item:hover{

    background-color: oldlace;

    li{
        transition: 90ms;
        font-size: larger;
    }
}