<!-- <dialog open formArrayName="payees" *ngIf="trip && (payeName.value == 'custom')" #payeeForm>
    <div *ngFor="let pay of payeesArr.controls;let i=index" [formGroupName]="i">
        <label>
            {{pay.value['name']}}
        </label>
        <input type="text" formControlName="payment">
    </div>
    <button type="button" [disabled]="validatePayee()" (click)="addPayees();payeeForm.remove()">Add payees</button>
</dialog> -->
<h1 matDialogTitle>Add Trip</h1>

<mat-dialog-content>
    <form [formGroup]="tripForm">
        <mat-form-field>
            <mat-label>Trip Name</mat-label>
            <input matInput placeholder="Trip Name" type="text" formControlName="tripName" />
                <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
                <mat-hint>Provide a name for the trip.</mat-hint>
        </mat-form-field>
        <br>
        <mat-form-field>
            <mat-label>Trip Date</mat-label>
            <input matInput [matDatepicker]="picker" formControlName="tripDate" />
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
    </form>
    <!-- <div *ngFor="let paye of payeeArr"><mat-label>{{paye.name}}</mat-label><input matInput></div> -->
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-button (click)="closeDialog()">- Cancel</button>
    <button [disabled]="!tripForm.valid" mat-button [matDialogClose]="tripForm">+ Create Trip</button>
    
</mat-dialog-actions>