<form *ngIf="trip" [formGroup]="expenseForm" (submit)="addExpense()">
    <div class="expDet">
        
        <div>
            
            <mat-form-field class="input">
                <mat-label>Expense Description</mat-label>
                <input matInput id="description" formControlName="description" />
            </mat-form-field>
        </div>
        
        <div>
            
            <mat-form-field class="input">
                <mat-label>Amount</mat-label>
                <input matInput id="expense"  formControlName="amount" />
            </mat-form-field>
        </div>
            
        
    </div>
    <div *ngIf="trip">
        
        <mat-form-field>
        <mat-label>paid by</mat-label>
        <mat-select formControlName="payee" (selectionChange)="getPayee(payeName.value)">
            <mat-option *ngFor="let participant of trip.particpants" [value]="participant.name">
                {{participant.name}}
            </mat-option>
            <mat-option [value]="'custom'">
                custom
            </mat-option>
        </mat-select>
    </mat-form-field>
        <label>
            and
        </label>
        <mat-form-field>
            <mat-label>split type</mat-label>
            <mat-select formControlName="splitType" #split (selectionChange)="getValue(splitTyp.value)">
                <mat-option *ngFor="let type of splitTypes" [value]="type">
                    {{type}}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </div>
    

    <!-- <app-expense-dialog payeName="{{payeName}}" payeeArr="{{payeeArr}}"></app-expense-dialog> -->
    
    <button mat-raised-button class="submitBtn" type="submit" [disabled]="validateForm()">Add Expense</button>

    
</form>
