<form *ngIf="trip" [formGroup]="expenseForm" (submit)="addExpense()">
    <div class="expDet">
        
        <div>
            
            <mat-form-field class="input">
                <mat-label>Expense Description</mat-label>
                <input matInput id="description" formControlName="description" />
            </mat-form-field>
        </div>
        
        <div>
            
            <mat-form-field class="input">
                <mat-label>Amount</mat-label>
                <input matInput id="expense"  formControlName="amount" />
            </mat-form-field>
        </div>
            
        
    </div>
    <div *ngIf="trip">
        
        <mat-form-field>
        <mat-label>paid by</mat-label>
        <mat-select formControlName="payee" (change)="getPayee(payeName.value)">
            <mat-option *ngFor="let participant of trip.particpants" [value]="participant.name">
                {{participant.name}}
            </mat-option>
            <mat-option [value]="payee">
                custom
            </mat-option>
        </mat-select>
    </mat-form-field>


        
        <label>
            and
        </label>
        <mat-form-field>
            <mat-label>split type</mat-label>
            <mat-select formControlName="splitType" #split (selectionChange)="getValue(splitTyp.value)">
                <mat-option *ngFor="let type of splitTypes" [value]="type">
                    {{type}}
                </mat-option>
            </mat-select>
        </mat-form-field>

    </div>
    <div formArrayName="splits">
        <div *ngIf="isSplitAmong && expenseForm.get('splits')">
            <p *ngFor="let split of splitArr.controls; let i=index" [formGroupName]="i">
                <label>{{split.value['people']}}</label>
                <input type="checkbox" (change)="onChecked($event,split.value,i)" formControlName="amount" />
            </p>
        </div>

        <div *ngIf="isSplitCustom && expenseForm.get('splits')">
            <p *ngFor="let split of splitArr.controls; let i=index" [formGroupName]="i">
                <label>{{split.value['people']}}</label>
                <input type="number" #custom formControlName="amount">
                <button type="button" (click)="removeParicipant(i)">X</button>
            </p>
        </div>
    </div>

    <!-- <app-expense-dialog payeName="{{payeName}}" payeeArr="{{payeeArr}}"></app-expense-dialog> -->
    
    <button mat-raised-button class="submitBtn" type="submit" [disabled]="validateForm()">Add Expense</button>

    
</form>
