<mat-dialog-content>
<form class="participantForm" [formGroup]="participantForm">
    
    <div class="participantsArr" formArrayName="participants">
        
        <form class="participants" *ngFor="let participant of participantForms.controls; let i=index" [formGroupName]="i">
            <mat-form-field>
                <mat-label>Participant</mat-label>
                <input matInput formControlName="name"/>
                <small *ngIf="participantForms.get('name')?.hasError('pattern')">Enter a valid name</small>
            </mat-form-field>
            <br>
            <mat-form-field>
                <mat-label>Phone Number</mat-label>
                <input matInput type="number" formControlName="phoneNumber" />
            </mat-form-field>
            <!-- <div>
                <button (click)="removeParticipant(i)">Remove Participant</button>
            </div>   -->
        </form>
    </div>  
</form>
</mat-dialog-content>
<mat-dialog-actions>
    <button mat-raised-button type="button" (click)="addParticipant()">Add Participant</button>
    <!-- <button *ngIf="participantForms.length>0" (click)="removeAllParticipant()">Remove All</button> -->
    <button mat-raised-button [mat-dialog-close]="participantForms" [disabled]="participantForm.invalid" *ngIf="participantForms.length>0">Save</button>
</mat-dialog-actions>
